body {
  margin-top: 45px;
  background-color: #f3e4d6;
}

h1 {
  color: #bf3625;
}
.btn {
  color: #d29968;
  border-color: #d29968;
}

.btn:hover {
  background-color: #d29968;
  border-color: #d29968;
  color: #ffffff;
}
